@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page {
    font-family: 'Roboto', 'Raleway', 'OpeSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.header__top {
    background-color: #4497C7;
    color: #ffffff;
}