@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page {
  font-family: "Roboto", "Raleway", "OpeSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #f7f7f7;
}
.header {
  margin: 0 auto;
}
.header__top {
  background-color: #4497c7;
  color: #ffffff;
  display: flex;
  min-height: 62px;
}
.header__top-content-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1278px;
}
.header__top-content {
  display: flex;
  gap: 71px;
  margin-left: 148px;
}
.header__contacts {
  display: flex;
}
.header__contacts-text {
  margin: 0;
  padding: 17px 9px 15px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header__com-link-container {
  width: 262px;
  height: 62px;
  box-sizing: border-box;
}
.header__com-link-devider {
  width: 100%;
  height: 6px;
  background-color: #ab3a29;
  box-sizing: border-box;
}
.header__com-link-content {
  background-color: #c54936;
  box-sizing: border-box;
}
.header__com-link-item {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 17px 12px 20px;
}

.header__main {
  background-color: #47a1d5;
  color: #ffffff;
  display: flex;
  padding-bottom: 38px;
}
/* .header__content-wrapper {
    display: flex;
    margin: 0 auto;
} */
.header__content {
  margin: 13px auto 0;
  display: flex;
  justify-content: space-between;
  max-width: 1278px;
}
.logo {
  width: 90px;
  height: 72px;
  background-image: url("../images/logo_48.svg");
}
.header__inner-block {
  margin-left: 60px;
}
.header__menu {
  display: flex;
  margin-top: 27px;
  gap: 47px;
  margin-bottom: 13px;
}
.header__menu-catalog-wrapper {
  /* margin-right: 46px; */
  background-color: #ffffff;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.01);
  border-radius: 20px;
  width: 192px;
  height: 32px;
  display: flex;
  /* gap: 12px; */
}
.header__menu-catalog-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4f4f4f;
  padding: 11px 16px;
}
.burger-menu-icon {
  margin-right: 12px;
}
.header__navigation {
  display: flex;
}
.header__navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23px;
}
.header__navigation-link {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
  box-sizing: border-box;
  padding-bottom: 2px;
}
.header__personal-block {
  display: flex;
  gap: 26px;
  margin-left: 102px;
}
.header__personal-basket {
  width: 56px;
  height: 35px;
  position: relative;
}
.header__pesonal-profile {
  display: flex;
  margin: 0;
}
.header__personal-basket-link {
  display: flex;
  /* width: 32px;
  height: 32px; */
  margin: 0;
}
.circle {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.basket-icon {
  position: absolute;
  right: -1px;
  top: 0;
}
.basket-count {
  position: absolute;
  width: 28px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  top: -3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  right: 10px;
  color: #4f4f4f;
  text-align: center;
  padding: 0 6px;
  box-sizing: border-box;
}
.user-icon {
  position: absolute;
  top: 7px;
  left: 5px;
}

.header__search-block {
  width: 1128px;
}
.search-form__container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #ccdeeb;
}
.search-form__input {
  outline: none;
  background-color: transparent;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #97c7e8;
  width: 90%;
  padding: 10px 0 10px 0;
}
.search-form__input::placeholder {
  color: #97c7e8;
}
.search-form__submit {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}
.search-form__submit::before {
  content: "Найти";
  margin-right: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ccdeeb;
}

.main {
    margin: 0 auto;
    max-width: 1280px;
}
.main-container {
  margin-top: 49px;
    display: flex;
    column-gap: 32px;
    
}
.left-menu {
    max-width: 291px;
}
.left-menu__title {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 35px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #C54936;

text-shadow: 3px 3px 0px rgba(250, 236, 79, 0.5);
}
.left-menu__title-caption {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
display: inline-block;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
width: 45px;
height: 16px;
box-sizing: border-box;
background-color: #469FDC;
border-radius: 8px;
text-shadow: none;
vertical-align: middle;
    margin-left: 15px;
    padding-top: 1px;
}
.left-menu__navbar-list {
    list-style: none;
    padding: 0;
}
.left-menu__navbar-item {
    box-sizing: border-box;
}
.left-menu__navbar-item::after {
    content: "";
    display: block;
    width: 257px;
    height: 2px;
    background-color: #E9EDF0;
}
.left-menu__navbar-item:last-of-type::after {
    display: none; 
}
.left-menu__navbar-link-first-level {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    column-gap: 20px;
}
.menu-item-name {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #47A1D5;
padding: 20px 0;
max-width: 257px;
}
.menu-item-count {
color: #E0E0E0;
margin-left: 10px;
}
.menu-arrow {
    background-image: url("../images/arrow.svg");
    width: 6px;
    height: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    box-sizing: border-box;
}

.main-content {
    float: right;
}
.main-banner-slider {
  
  max-width: 954px;
  position: relative;
}
.main-banner-slider__list {
  position: relative;
}
.main-banner-slider__item  {
  height: 375px;
  width: 100%;
  /* background-color: #ffffff; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}
.main-banner-slider__img {
  height: 375px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* .slider_0 {
  background-image: url('../images/screen.png');
}
.slider_1 {
  background-image: url('../images/48banner.png');
}
.slider_2 {
  background-image: url('../images/48banner.png');
}
.slider_3 {
  background-image: url('../images/48banner.png');
} */
div.main-banner-slider-arrow-prev,
div.main-banner-slider-arrow-next {
  width: 32px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}
.main-banner-slider-arrow-prev {
  background-image: url('../images/arrow-prev.svg');
  display: block;
  left: 20px;
  top: 50%;
}
.main-banner-slider-arrow-next {
  background-image: url('../images/arrow-next.svg');
  display: block;
  right: 20px;
  top: 50%;
}
.main-banner-slider-arrow-prev:hover {
  opacity: 0.6;
}
.main-banner-slider-arrow-next:hover {
  opacity: 0.6;
}
div.main-banner-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.main-banner-dot {
  width: 11px;
  height: 11px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  cursor: pointer;
}


.articles {
  padding: 56px 106px 42px;
  max-width: 1494px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 74px auto 70px;
}
.articles__title {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c54936;
  text-shadow: 3px 3px 0px rgba(250, 236, 79, 0.5);
}
.aticles__subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: #4f4f4f;
}
.articles__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 308px);
  grid-template-rows: 298px;
  column-gap: 16px;
  row-gap: 20px;
  margin-top: 34px;
}
.article {
  display: flex;
  gap: 9px;
  flex-direction: column;
  position: relative;
}
.article__title {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4f4f4f;
}
.article__text {
  margin: 10px 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  width: 308px;
  max-height: 177px;
  color: #4f4f4f;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.article__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #c54936;
  position: absolute;
  bottom: 0;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 53px;
  box-sizing: border-box;
}
.footer__container {
  padding: 53px 108px 59px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 4px #469fdc;
}
.footer__left-block {
  width: 302px;
}
.footer__logo {
  margin-bottom: 119px;
}
.social {
  display: flex;
  column-gap: 17px;
  margin-bottom: 231px;
}
.social__vk {
  background-image: url("../images/vk.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 16px;
}
.social__inst {
  background-image: url("../images/inst.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.social__wapp {
  background-image: url("../images/wapp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
}
.statistic {
  margin-bottom: 149px;
  background-image: url("../images/stat.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 88px;
  height: 31px;
}
.copyright {
  width: 302px;
}
.copyright__text {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #e0e0e0;
}
.footer__contacts-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
  color: #4f4f4f;
  gap: 6px;
  margin-bottom: 25px;
}
.footer__contacts-info-text {
  margin: 0;
}
.footer__contacts-info-text:last-of-type {
  padding: 10px 0;
  box-sizing: border-box;
}
.footer__contacts-phones {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  flex-direction: column;
  color: #4f4f4f;
}
.footer__contacts-phones-text {
  margin: 0;
  padding-bottom: 23px;
  box-sizing: border-box;
}
.footer__top-block {
  display: flex;
}

.catalog__title {
  padding: 10px 0;
  text-transform: uppercase;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #4f4f4f;
}
.catalog__columns {
  display: flex;
  max-height: 427px;
  width: 410px;
}
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 18px;
}
.catalog-list  li{
  page-break-inside: avoid;
  break-inside: avoid;
}

.catalog-item {
  max-width: 195px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.05em;
  padding-bottom: 11px;
  color: #4f4f4f;
  box-sizing: border-box;
}
.market {
  margin-right: 83px;
}
.market__title {
  padding: 10px 0;
  text-transform: uppercase;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #4f4f4f;
}
.market-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.market-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding: 7px 0;
  color: #4f4f4f;
  box-sizing: border-box;
}
.tipografy {
  margin-top: 26px;
  width: 157px;
  height: 37px;
  background: #469fdc;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.tipografy:hover {
  background: #de3398;
  box-shadow: 5px 5px 0px rgba(250, 236, 79, 0.5);
}
.tipografy:active {
  background: #9c1464;
}
.tipografy__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  padding: 12px 18px;
  color: #ffffff;
  box-sizing: border-box;
}
.subscribe {
  margin-top: 35px;
}
.subscribe__conteiner {
  box-sizing: border-box;
  padding: 18px 34px 71px 31px;
  width: 306px;
  height: 283px;
  background-color: #f5f6f1;
  background-image: url("../images/form-image.svg");
  background-repeat: no-repeat;
  background-position: 0 245px;
}
.subscribe__title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4f4f4f;
  margin: 0 0 2px 0;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.subscribe-form__input-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #222222;
  padding: 15px 0;
  display: flex;
}
.subscribe-form__input {
  width: 100%;
  height: 40px;
  outline: none;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}
.subscribe-form__input:valid {
  border: 1px solid #27ae60;
  border-radius: 4px;
}
.subscribe-form__input:focus {
  border: 1px solid #25bfcb;
  border-radius: 4px;
}
.subscribe-form__input.invalid {
  border: 1px solid #db4437;
  border-radius: 4px;
}
.subscribe-form__input:disabled {
  background: rgba(242, 242, 242, 0.4);
  border: 1px dashed #bdbdbd;
}
.subscribe-form__input-error {
  top: 90px;
  left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #db4437;
  position: absolute;
}
.subscribe-form__input-error.active {
  padding: 0.3em;
}
.subscribe-form__button {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 30px;
  width: 100%;
  background: #c54936;
  border-radius: 29px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}
.subscribe-form__button:hover {
  cursor: pointer;
  background: #de3398;
  box-shadow: 5px 5px 0px rgba(250, 236, 79, 0.5);
}
.subscribe-form__button:active {
  background: #9c1464;
}
.subscribe-form__button:disabled {
  background: #e0e0e0;
}
.footer__bottom-block {
  margin-top: 63px;
}
.footer__persdata {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  color: #e0e0e0;
}
.footer__cookies {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #e0e0e0;
}
